version: 0.3.0.{build}
os: Visual Studio 2017
install:
  - ps: iwr https://get.dot.net/v1/dotnet-install.ps1 -outfile dotnet-install.ps1
  - ps: .\dotnet-install.ps1 -Version 2.1.300 -InstallDir $env:ProgramFiles/dotnet
build_script:
  - ps: .\scripts\build.ps1 -IsOfficialBuild
after_build:
  - ps: .\scripts\package.ps1 -IsOfficialBuild
environment:
  global:
    DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
    DOTNET_CLI_TELEMETRY_OPTOUT: 1
test: off
artifacts:
  - path: 'artifacts\*.nupkg'
    name: Packages
    type: NuGetPackages
  - path: 'artifacts\*.zip'
    name: Binaries
deploy:
  - provider: GitHub
    description: 'Nyancat release. Look at the changelog for more info'
    auth_token:
      secure: HcRt2eElpflbfyYTUVbgZR2PNBJsxqWIGRH73c/e3bUoxX0iMha9p4vYMl8bjNfr
    artifact: Packages,Binaries
    draft: false
    prerelease: false
    on:
      appveyor_repo_tag: true
  - provider: NuGet
    artifact: Packages
    api_key:
      secure: lBhS4ApDDffDkYXWY15sIlO25PZw3o93unf2LpQv/3vwl+nbJjg6/xJPdgqLJD+b
    skip_symbols: false
    on:
      appveyor_repo_tag: true
